electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

@shibaone:registry=https://npm.pkg.github.com
package-lock=false
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
